<div class="max-w-3xl mx-auto px-4">
  <div class="flex items-center justify-between">
    <h1 class="flex-1 font-bold text-3xl">Food</h1>

    <div class="flex-wrap lg:flex items-center lg:space-x-3">
      <%= link_to foods_path, class: button_class(theme: "transparent") do %>
      All Foods
      <% end %>
      <%= link_to edit_food_path(@food), class: button_class(theme:"primary") do %>
      Edit
      <% end %>
    </div>
  </div>

  <ul class="text-slate-700">
      <li>
        <p class="font-semibold">Name:</p>
        <p><%= @food.name %></p>
      </li>
      <li>
        <p class="font-semibold">Description:</p>
        <p><%= @food.description %></p>
      </li>
      <li>
        <p class="font-semibold">Price:</p>
        <p><%= @food.price %></p>
      </li>
      <li>
        <p class="font-semibold">Availability:</p>
        <p><%= @food.availability %></p>
      </li>
  </ul>
</div>
