<div id="<%= dom_id sales_record %>">
  <p>
    <strong>Date:</strong>
    <%= sales_record.date %>
  </p>

  <p>
    <strong>Product name:</strong>
    <%= sales_record.product_name %>
  </p>

  <p>
    <strong>Product:</strong>
    <%= sales_record.product_id %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= sales_record.price %>
  </p>

  <p>
    <strong>Revenue:</strong>
    <%= sales_record.revenue %>
  </p>

</div>
