<div class="max-w-3xl mx-auto px-4">
  <div class="flex items-center justify-between">
    <h1 class="flex-1 font-bold text-3xl">Sales_record</h1>

    <div class="flex-wrap lg:flex items-center lg:space-x-3">
      <%= link_to sales_records_path, class: button_class(theme: "transparent") do %>
      All Sales_records
      <% end %>
      <%= link_to edit_sales_record_path(@sales_record), class: button_class(theme:"primary") do %>
      Edit
      <% end %>
    </div>
  </div>

  <ul class="text-slate-700">
      <li>
        <p class="font-semibold">Date:</p>
        <p><%= @sales_record.date %></p>
      </li>
      <li>
        <p class="font-semibold">Product name:</p>
        <p><%= @sales_record.product_name %></p>
      </li>
      <li>
        <p class="font-semibold">Product:</p>
        <p><%= @sales_record.product_id %></p>
      </li>
      <li>
        <p class="font-semibold">Price:</p>
        <p><%= @sales_record.price %></p>
      </li>
      <li>
        <p class="font-semibold">Revenue:</p>
        <p><%= @sales_record.revenue %></p>
      </li>
  </ul>
</div>
